.card-img-top{
    width: 50%;
    height: auto;
    align-self: center;
    border-radius: 50%;
    transition: transform .2s;
}

.Content{
    padding-top: 2%;
    padding-bottom: 2%;
}

.bio{
    height:70px;
}

.card-company{
    height:57px;
}

.starIconSpan{
    text-align:right;
    padding-top: 5%;
    padding-right: 5%;
    transition: transform .2s;
}

.starIcon:hover{
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.card-img-top:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.2); 
}

.card{
    margin-top: 2%;
}