.footerContent{
    background-color: rgb(203, 196, 196);
    bottom: 0;
    width: 100%;
    position: absolute;
}

.footerContent .language-img{
    width: 40px;
    height: 25px;
    padding-left: 5%;
}